---
- name: Include OS-specific install tasks
  ansible.builtin.include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_system | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      skip: true

# More deterministic branching:
- name: Install Chef on Windows
  ansible.builtin.include_tasks: windows.yml
  when: ansible_os_family == "Windows"

- name: Install Chef on Linux
  ansible.builtin.include_tasks: linux.yml
  when: ansible_os_family != "Windows"
